*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
main{
    width: 100%;
}
h1,h2, h3{
    text-align: center;
}
label{
    color: white
}
input,label,button{
    width: 200px;
    margin: 5px auto;
}
#contactForm{
    margin: 5px auto;
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(64deg, #43a5bd, #4bb1b2, #50b9a9);
}
.hidden{
    display: none
}
.border{
    border-radius: 15px;
}

button{
    border: 1px #F07857 solid;
    border-radius: 2px;
    width: 75px;
    color: white;
    font-size: 20px;
    background-color: #F07857;
    margin: 3px
}
header{
    background-color: #425B76;
    color: white;
    width: 80%;
    padding: 8px;
    margin: 15px auto;
}
.formButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
    margin: 0 auto;
}